<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item style="padding: 8px" >
      <ion-label  position="floating">Password</ion-label>
      <ion-input [(ngModel)]="passEntered" type='password'></ion-input>
  </ion-item>
  <p padding *ngIf="!isMatch">Wrong Password</p>
  <div style="padding: 8px">
      <ion-button  (click)="onLogin()">
          Login
      </ion-button>
      <ion-button style="padding-left: 8px" (click)="onSignUp()" >
        sign Up
      </ion-button>
     
    
  </div>

  <a style="position: absolute; "  class="ion-padding" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" >forgot password </a>
  
</ion-content>
