<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Set Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Set Password</ion-label>
        <ion-input [(ngModel)]="setpass" type="password"  ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Re Enter Password</ion-label>
          <ion-input [(ngModel)]="repass" type="password" ></ion-input>
        </ion-item>

        <p *ngIf="!isMatch" >Inputs didn't match</p>

      <ion-button padding (click)="onClick()">
        create Account
      </ion-button>
              
</ion-content>
