<ion-header>
  <ion-toolbar color="primary">
    <ion-title>new-wallet</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="wallet"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Token Name</ion-label>
        <ion-input [(ngModel)]="tokenName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Token address</ion-label>
        <ion-input [(ngModel)]="tokenAdd" type="text"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="floating">Add Description</ion-label>
        <ion-input [(ngModel)]="tokenDes" type="text"></ion-input>
      </ion-item>
    <ion-button padding (click)="onClick()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add 
    </ion-button>
</ion-content>
