<ion-header>
  <ion-toolbar color="primary" >
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    <ion-title ><b>Your Wallets</b></ion-title>
    <ion-buttons slot="end">
          <ion-button [routerLink]="['/wallet','new-wallet']" >
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row >
          <ion-col size="12" size-sm="8" offsetSm="2" >
            <ion-card >
              <ion-card-header>
                <ion-card-title><b>{{wallets[0].title}}</b></ion-card-title>
                <ion-card-subtitle>{{wallets[0].balance}} eth</ion-card-subtitle>
              </ion-card-header>
              <ion-img [src]="wallets[0].imageUrl"></ion-img>
              <ion-card-content>
                <p>{{wallets[0].description}}</p>
              </ion-card-content>
              <div text-right >
                <ion-button fill="outline" color="primary" style="margin: 8px" [routerLink]="['/','wallet','wallet-details',wallets[0].id]"> Actions</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col  size="12" size-sm="8" offsetSm="2" >
              <ion-list >
                <ion-item-sliding *ngFor="let wallet of wallets.slice(1)" #sliding>
                    <ion-item  detail button [routerLink]="['/','wallet','wallet-details',wallet.id]">
                      <ion-avatar slot="start">
                          <img [src]="wallet.imageUrl" >
                      </ion-avatar>
                        <ion-label>
                          <h2 ><b>{{wallet.Name}}</b></h2>
                          <p>{{wallet.balance}}  units</p>
                        </ion-label> 
                  </ion-item>
                  <ion-item-options >
                      <ion-item-option color="danger" (click)="onSlide(wallet.id, sliding) " >
                        Remove
                      </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>           
            </ion-col>
          </ion-row>
      </ion-grid>
</ion-content>
