<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle><b>{{transactions[id].name.toUpperCase()}}</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        
      <ion-item>
        <ion-label text-wrap><b>From  :</b> 
            <p style="user-select: all;">{{transactions[id].from}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label text-wrap><b>To    :</b> 
              <p style="user-select: all;">{{transactions[id].from}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label text-wrap><b>Amount  :</b> 
                <p style="user-select: all;">{{transactions[id].amount}} units</p>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-label text-wrap><b>Hash  :</b> 
                  <p style="user-select: all;">{{transactions[id].hash}}</p>
              </ion-label>
            </ion-item>
            
            <ion-item lines='none'>
                <ion-label text-wrap><b>Status  :</b> 
                    <p id="stat"></p>
                </ion-label>
              </ion-item>
              <ion-button shape="round"  Fill="outline" [href]="'https://ropsten.etherscan.io/tx/'+transactions[id].hash">
                More Info
              </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
